/**
 * This file represent some UI that can be changed
 * during web app restyle or theme select.
 *
 * Next items should be placed there
 * - link colors
 * - header restyles
 *
 */
.ui_mars {
  /*
   *  Application Header
   *
   */
  header {
    @extend .header-dark;
    &.navbar-gitlab {
      .navbar-inner {

        background: #003366;
        background: -webkit-gradient(linear, left top, left bottom, from(#003366), to(#376098)) repeat-X;
        background: -moz-linear-gradient(top, #003366, #376098) repeat-X;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#003366, endColorstr=#376098
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#003366, endColorstr=#376098FF);

        border-bottom: 1px solid #003366;
        .app_logo, .navbar-toggle {
          &:hover {
            background-color: #003366;
          }
        }
        .separator {
          background: #003366;
          border-left: 1px solid #376098;
        }
        .nav > li > a {
          color: #979DA7;
        }
        .search-input {
          border-color: #003366;
        }
      }
    }
  }
}
